<div class="container">

<!-- WELCOME & BUTTONS -->
  <% if session[:user_id].nil? %>
    <p id="welcome">Hello, stranger!</p>
    <button id="sign_up"><a href="/sign_up">Sign Up</a></button>
    <button id="log_in"><a href="/log_in">Log In</a></button>
  <% else %>
    <p id="welcome">Looking good today, <%= @user.name %>!</p>
    <button id="log_out"><a href="/log_out">Log out</a></button>
    <button id="profile"><a href="/users/<%= @user.id %>">My Profile</a></button>
    <button id="new_post"><a href="/new_post">New Post</a></button>
  <% end %>

  <h1>Hacker News Clone</h1>

<!-- LIST ALL POSTS REVERSE-CHRONOLOGICALLY -->
  <div class="list_posts">
    <ol>
      <% @all_posts.each do |post| %>
      <li>
        <dt>
          <a href="/posts/<%= post.id %>">
          <%= post.title %>
          </a>
        </dt>
        <dd>
          Posted by: <%= post.user.name %> at <%= post.created_at %> | <%= post.comments.size %> comments
        </dd>
      </li>
      <% end %>
    </ol>
  </div>

</div>
